footer {
  background-image: url('../assets/footer-bg.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: var(--footer-links-color);
  width: 100%;
  display: flex;
  flex-direction: column;
  padding-top: 100px;
  // padding: 100px calc(10% + 30px);
  font-size: 16px;

  .footer-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(10em, 1fr));
    width: 100%;
    padding: 0 calc(10% + 30px);
    margin: 0 auto;
    gap: 20px;

    article:nth-child(1) {
      display: grid;
      gap: 40px;

      @media (max-width: 500px) {


        ul {
          margin-left: 0;
        }
      }
    }

    article {
      img {
        width: 150px;
      } 

      .contact-us {
        display: flex;
        // flex-wrap: wrap;
        gap: 10px;
        
        svg {
          font-size: 20px;
          color: var(--icon-color);
          transform: translateY(5px);
        }

        .our-number {
          color: var(--white-color);
          // font-size: 20px;
        }

        @media (max-width: 1100px) {
          font-size: 15px;

          .our-number {
            font-size: 18px;
          }

          svg {
            font-size: 40px;
          }
        }

        @media (max-width: 1050px) {
          font-size: 12px;

          .our-number {
            font-size: 14px;
          }

          svg {
            font-size: 30px;
          }
        }

        @media (max-width: 500px) {
          font-size: 20px;
          // gap: 20px;

          .our-number {
            font-size: 18px;
          }

          svg {
            font-size: 20px;
            transform: translateY(10px);
          }
        }
      }

      h3 {
        color: var(--white-color);
        font-size: 22px;
        margin-bottom: 30px;
      }

      ul > li {
        list-style: none;
        margin-bottom: 10px;

        a {
          text-decoration: none;
          color: #abafb5;
          font-size: 16px;
        }
      }

      @media (max-width: 500px) {
        h3 {
          font-size: 25px;
        }

        ul {
          margin-left: 10px;

          li > a {
          font-size: 20px;
          }
        }
      }
    }

    @media (max-width: 500px) {
      grid-template-columns: auto;
      place-content: center;
    }
  }

  .footer-bottom {
    margin-top: 40px;
    padding: 60px calc(10% + 30px);
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #abafb5;

    .social-media {
      display: flex;
      justify-content: space-around;
      place-items: center;
      gap: 10px;
      // margin-bottom: -8px;
      // width: 10rem;

      li {
        list-style: none;

        a {
          font-size: 15px;
          display: inline-block;
          width: 50px;
          height: 50px;
          text-decoration: none;
          color: #666;
          background-color: var(--white-color);
          padding: 15px;
    
          &:hover {
            color: var(--white-color);
            background-color: var(--link-color-hover);
          }
        }
    
        @media (max-width: 840px) {
          gap: 5px;
        }
      }
    }

    @media screen and (max-width: 400px) {
      flex-direction: column;

      .social-media {
        gap: 5px;

        li a {
          width: 40px;
          height: 40px;
          padding: 10px;
        }
      }
    }
  }
}