.home-header {
  position: relative;
  width: 100%;
  height: 100vh;
  background-color: var(--preheader-bgcolor-custom);
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;

  &:hover .slider-nav {
    animation: appeared 3s forwards;
    animation-delay: 0s;
  }

  &::before {
    z-index: 001;
    content: '';
    position: absolute;
    background: rgba(255, 94, 21, 0.4);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }

  video {
    z-index: 000;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .video-slide {
    clip-path: circle(0% at 0 50%);
  }

  .video-slide.active {
    clip-path: circle(150% at 0 50%);
    transition: 2s ease;
    transition-property: clip-path;
  }

  .slide {
    margin-top: 10%;
    width: 50%;
    display: flex;
    flex-direction: column;
    line-height: 80px;
    justify-content: center;
    align-items: center;
    text-align: center;
    z-index: 001;

    &-title {
      font-size: 16px;
      color: var(--white-color);
      text-align: center;
      letter-spacing: 4px;
      font-weight: bold;
      position: relative;
      width: fit-content;
      animation: rightToLeft 2s forwards;
      animation-delay: 0s;
    }

    h1 {
      font-size: 76px;
      text-align: center;
      color: var(--white-color);
      margin-bottom: 20px;
      transform: translateY(100px);
      opacity: 0;
      animation: bottomToTop 1s forwards;
      animation-delay: 2s;
    }

    p::after {
      content: '';
      position: absolute;
      left: 0;
      bottom: 26px;
      width: 0;
      height: 2px;
      background-color: var(--icon-color);
      animation: underlineAnimation 2s forwards;
    }

    .home-btn {
      padding-left: 20px;
      display: inline-block;
      width: 188px;
      text-align: start;
      line-height: 60px;
      font-size: 16px;
      text-decoration: none;
    }

    .home-btn:nth-child(1) {
      background-color: var(--white-color);
      color: var(--link-color-normal);
      position: relative;
      width: 0;
      visibility: hidden;
      animation: animateWidth 1.5s forwards;
      animation-delay: 3s;

      &:hover {
        background-color: var(--blackish-bg-color);
        color: var(--white-color);
      }
    }

    .home-btn:nth-child(2) {
      background-color: var(--global-color);
      color: var(--white-color);
      position: relative;
      width: 0;
      visibility: hidden;
      animation: animateWidth 2s forwards;
      animation-delay: 4s;

      &:hover {
        background-color: var(--blackish-bg-color);
      }
    }

    .home-btn::before {
      position: absolute;
      content: '';
      width: 35px;
      height: 1px;
      right: 45px;
      top: 50%;
      background-color: var(--link-color-normal);

      @media (max-width: 1050px) {
        right: 15px;
      }
    }

    .home-btn::after {
      position: absolute;
      content: ">";
      top: 29%;
      right: 43px;
      font-size: 15px;
      line-height: 25px;
      font-weight: bold;

      @media (max-width: 1050px) {
        right: 13px;
      }
    }

    .home-btn:nth-child(2)::before {
      background-color: var(--white-color);
    }

    .home-btn:not(:last-child) {
      margin-right:  30px;
    }

    @media (max-width: 1200px) {
      width: 60%;
    }

    @media (max-width: 1050px) {
      width: 70%;
    }

    @media (max-width: 900px) {
      width: 90%;
    }

    @media (max-width: 400px) {
      width: 100%;

      h1 {
      font-size: 60px;
      }
    }
  }

  .slider-nav {
    background-color: var(--white-color);
    color: var(--icon-color);
    font-size: 20px;
    width: 40px;
    height: 60px;
    position: absolute;
    bottom: 35%;
    z-index: 002;
    border: none;
    animation: desappeared 3s forwards;
    animation-delay: 10s;
  }

  .prev {
    right: 0;
    margin-right: 5px;
  }

  .next {
    left: 0;
    margin-left: 5px;
  }
}