.our-mission {
  width: 100%;
  display: flex;
  // flex-wrap: wrap;
  padding: 80px calc(10% + 30px);
  justify-content: center;
  gap: 5%;
  background-color: var(--light-bg-color);
  // padding: 80px 0;

  .icon-box {
    background-color: var(--secondary-color);
    width: 120px;
    height: 120px;
    padding: 10px;
    -webkit-clip-path: polygon(25% 5%, 75% 5%, 100% 50%, 75% 95%, 25% 95%, 0% 50%);
    clip-path: polygon(25% 5%, 75% 5%, 100% 50%, 75% 95%, 25% 95%, 0% 50%);
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    margin-top: -80px;
    margin-left: 35%;
    margin-bottom: 20px;
    transition: all 1s ease;

    &::before {
      top: 10;
      left: 10;
      width: 100px;
      height: 100px;
      position: absolute;
      background-color: var(--global-color);
      content: "";
      -webkit-clip-path: polygon(25% 5%, 75% 5%, 100% 50%, 75% 95%, 25% 95%, 0% 50%);
      clip-path: polygon(25% 5%, 75% 5%, 100% 50%, 75% 95%, 25% 95%, 0% 50%);
    }

    img {
      position: relative;
      width: 80px;
      height: 80px;
    }
  }

  .our-mission-content {
    max-width: 500px;
    // min-width: 350px;
    background-color: white;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin-bottom: 30px;
    position: relative;

    &::before {
      content: '';
      position: absolute;
      width: 100%;
      height: 0;
      bottom: 0;
      left: 0;
      background-color: var(--secondary-color);
      transition: height 0.5s ease;
    }

    @media (max-width: 900px) {
      width: 500px;
      margin-bottom: 80px;

      &:nth-child(1) {
        margin-top: 12px;
      }

      &:last-child{
        margin-bottom: 0;
      }
    }

    @media (max-width: 600px) {
      width: 100%;
      margin-bottom: 50px;

      .icon-box {
        margin-left: 40%;
      }
    }
  }

  div.active {
    color: var(--white-color);

    .icon-box {
      background-color: var(--white-color);
    }

    p {
      position: relative;
      // z-index: 1;
    }

    &::before {
      height: 100%;
      transition: height 0.5s ease;
    }
  }

  h4 {
    width: fit-content;
    font-size: 18px;
    margin: 0 auto;
  }

  @media (max-width: 900px) {
    flex-wrap: wrap;
  }

  @media (max-width: 600px) {
    padding: 40px 0;
  }
}