.our-offers {
  display: grid;
  grid-template-columns: 48% 53%;
  gap: 2rem;

  .offers-images-container {
    display: grid;
    grid-template-columns: 49% 49%;
    gap: 2%;
    position: relative;
    place-items: center;
    margin: 20px 0;
    flex-grow: 1;

    img:not(:last-child) {
      margin-right: 30px;
    }

    img {
      height: 100%;
      width: 100%;
    }

    .trusted {
      width: 175px;
      height: 175px;
      background-color: var(--white-color);
      display: grid;
      grid-template-rows: 20px 60px;
      place-items: center;
      border-radius: 50%;
      position: absolute;
      left: calc(49% - 88px);
      padding: 20px;
      align-content: center;

      span {
        display: block;
      }

      &-text {
        color: var(--icon-color);
        font-size: 16px;
        text-transform: uppercase;
      }

      &-number {
        font-size: 48px;
        font-weight: bold;
        color: black;
      }
    }

    @media screen and (max-width:870px) {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 20px;
      width: 100%;

      img:not(:last-child) {
        margin-right: 0;
      }

      img {
        height: 100%;
        width: 100%;
        width: 100%;
      }

      .trusted {

        @media screen and (max-width: 500px) {
          width: 140px;
          height: 140px;

          left: calc(49% - 70px);
        }
      }
    }
  }

  .offer-content {
    // width: 510px;
    display: grid;
    grid-template-rows: auto auto auto auto;
    gap: 20px;
    flex-grow: 1;
    flex-basis:  510px;

    ul {
      height: 100px;
      display: grid;
      grid-template-columns: auto auto;
      margin-bottom: 20px;

      li {
        display: inline-block;

        svg {
          color: var(--icon-color);
          font-size: 25px;
          transform: translateY(5px);
        }
      }

      @media (max-width: 500px) {
        height: auto;
        grid-template-columns: repeat(auto-fit, minmax(10em, 1fr));
      }
    }

    .offer-content-footer {
      display: flex;
      justify-content: space-between;
      align-items:center;
      align-content: center;
      border-top: 1px solid #ddd;

      svg {
        color: var(--icon-color);
        font-size: 60px;
        display: block;
        margin-right: 20px;
      }

      p {
        font-size: 22px;
        color: black;
        line-height: 28px;
        margin-top: 20px;
      }
    }
  }

  @media screen and (max-width: 850px) {
    grid-template-columns: auto;
    grid-template-rows: auto auto;
  }
}