.services-page {

  .post-banner {
    margin-top: 0;
    // text-align: center;
    font-size: 24px;

    p {
      width: 70%;
      margin: 15px auto;
      line-height: 30px;
    }

    p:nth-child(1)::first-letter {
      background-color: var(--global-color);
      color: var(--white-color);
      font-weight: bold;
      font-size: 40px;
      padding: 0 10px;
      margin-right: 5px;
    }
  }

  .services-images {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2%;

    img {
      width: 300px;
    }
  }

  .we-have {
    background-color: var(--white-color);
    width: 100%;
    padding: 0 10%;
    place-items: normal;
    
    h2 {
      color: var(--secondary-color);
      font-size: 40px;
      text-align: start;
      margin: 30px 0;
    }
  }
}