@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&family=Yantramanav:wght@100;300;400;500;700;900&display=swap');

:root {
  --global-text-color: #666;
  --icon-color: #dd042b;
  --global-color: #ceaa52;
  --secondary-color: #19232b;
  --gradient-color-first: #ceaa52;
  --gradient-color-last: #ceaa52;
  --logo-height: 60px;
  --sticky-logo-height: 60px;
  --responsive-logo-height: 50px;
  --link-color-normal: #19232b;
  --link-color-hover: #ceaa52;
  --responsive-breakpoint: 1200px;
  --white-color: #fff;
  --light-bg-color: #f2f3f5;
  --blackish-color: #19232b;
  --blackish-bg-color: #19232b;
  --preheader-bgcolor-custom: #ff5e15;
  --header-height: 105px;
  --header-background-color: #fff;
  --menu-background-color: #fff;
  --sticky-header-height: 90px;
  --sticky-header-background-color: #fff;
  --main-menu-typography-font-family: Yantramanav;
  --main-menu-typography-variant: 700;
  --main-menu-typography-font-size: 16px;
  --main-menu-typography-line-height: 20px;
  --main-menu-typography-letter-spacing: 0;
  --main-menu-typography-color: #19232b;
  --main-menu-typography-text-transform: uppercase;
  --main-menu-typography-font-weight: 700;
  --main-menu-typography-font-style: normal;
  --main-menu-sticky-color: #19232b;
  --footer-links-color: #abafb5;
  --titlebar-height: 415px;
  --footer-1-col-width: 27%;
  --footer-2-col-width: 23%;
  --footer-3-col-width: 20%;
  --footer-4-col-width: 30%;
  --global-color-rgb: 221, 4, 43;
  --secondary-color-rgb: 25, 35, 43;
  --white-color-rgb: 255, 255, 255;
  --light-bg-color-rgb: 242, 243, 245;
  --blackish-color-rgb: 25, 35, 43;
  --blackish-bg-color-rgb: 25, 35, 43;
  --main-menu-typography-color-rgb: 25, 35, 43;
}

*, *::before, *::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Yantramanav', sans-serif;
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  text-transform: none;
  line-height: 1.7;
  color: #666;
  background-color: #f2f3f5;
}

main {
  width: 100%;

  section {
    width: 80%;
    margin: 80px auto;

    @media screen and (max-width: 1350px) {
      width: 85%;
      
    }

    @media (max-width: 1250px) {
      width: 90%;
    }

    @media (max-width: 850px) {
      width: 95%;
    }
  }
}

section h4 {
  letter-spacing: 3px;
  font-size: 15px;
  padding-bottom: 20px;
  position: relative;
  width: fit-content;

  &::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 20px;
    width: 100%;
    height: 2px;
    background-color: var(--icon-color);
  }
};

section h2 {
  color: black;
  font-size: 55px;
  line-height: 55px;
};

.btn {
  padding-left: 20px;
  display: inline-block;
  width: 188px;
  text-align: start;
  line-height: 60px;
  font-size: 16px;
  text-decoration: none;
  background-color: var(--global-color);
  color: var(--white-color);
  position: relative;
  transition: all 0.5s ease;

  &:hover {
    background-color: var(--blackish-bg-color);
  }
}

.btn::before {
  position: absolute;
  content: '';
  width: 35px;
  height: 1px;
  right: 45px;
  top: 50%;
  background-color: var(--white-color);

  @media (max-width: 1050px) {
    right: 15px;
  }
}

.btn::after {
  position: absolute;
  content: ">";
  top: 28%;
  right: 43px;
  font-size: 15px;
  line-height: 25px;
  font-weight: bold;

  @media (max-width: 1050px) {
    right: 13px;
  }
}

